<app-menu></app-menu>

<!-- <form [formGroup]="addCommentForm" (ngSubmit)="addComment()">
  <input
    type="text"
    placeholder="Blog Comment Name"
    formControlName="name"
    required
  />
  <input
    type="text"
    placeholder="Comment Content"
    formControlName="body"
    required
  />
  <button
    class="button -active"
    [disabled]="addCommentForm.invalid || addCommentForm.pristine"
    type="submit"
  >
    <i class="fas fa-check mr-1"></i> Add
  </button>
</form> -->
<div class="main-content">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ postDetails.title }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://via.placeholder.com/600/c984bf"
      alt="placeholder of image"
    />
    <mat-card-actions>
      {{ postDetails.body }}
    </mat-card-actions>
    <mat-card-actions>
      <button mat-stroked-button color="primary">
        Like
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-stroked-button color="primary">
        Share
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-title>Comments</mat-card-title>

    <div *ngFor="let comment of comments">
      <mat-card-content>
        <strong>{{ comment.name }}</strong>
        <br />
        {{ comment.body }}
      </mat-card-content>
      <mat-divider></mat-divider>
    </div>
    <mat-divider></mat-divider>
  </mat-card>
</div>
